<!-- this page can be styled using CSS -->
<!-- it can also be made dynamic using templating-->
</<!DOCTYPE html>
<html>
<head>
	<title>Welcome to CowCat</title>
</head>
<body>

	<h1>Welcome to CowCat</h1>
	<p>CowCat is an app to track food and exercise in a simplistic way and do custom analysis on that data</p>

	<h2>CowCat is created by <a href="http://about.me/theengineersthumb">Stephan Rubin</a></h2>

	<%= @foo %>
</body>
</html>