<!-- this page can be styled using CSS -->
<!-- it can also be made dynamic using templating-->

<% provide(:title, "Not Found |") %>

	<h1>Static#notfound</h1>
	<p>Find me in app/views/static/notfound.html.erb</p>